---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection('post');

  return posts.map(post => ({
    params: { slug: post.slug }, props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

const date = post.data.publishDate;
const month = date.toLocaleString('en-GB', { month: 'long' });
const day = date.getDate();
const year = date.getFullYear();
---
<Layout title={`${post.data.title} | Henry Percy`} description={post.data.description}>
  <main class="relative">
    <article class="space-y-5 prose prose-stone dark:prose-invert max-w-3xl">
      <div>
        <h1 transition:name={`post-title-${post.slug}`} class="!mb-2">{post.data.title}</h1>
        <div>
          <p class="!mt-0 mb-6 text-stone-400">{`${month}, ${day} ${year}`}</p>
        </div>
      </div>
      <Content />
    </article>
  </main>
</Layout>
