---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

export const prerender = true;

export async function getStaticPaths() {
	const spanish = await getCollection('spanish');

	return spanish
		.filter(spanish => spanish.data.date_achieved)
		.map(spanish => (
			{ params: { slug: spanish.slug }, props: { spanish }, }
		)
	);
}

const { spanish } = Astro.props;
const { Content } = await spanish.render();

const date = spanish.data.date_achieved;
let month, day, year;
if (date) {
	month = date.toLocaleString('en-GB', { month: 'long' });
	day = date.getDate();
	year = date.getFullYear();
}
---

<Layout title={`${spanish.data.title} | Henry Percy`} description={spanish.data.description ?? ''}>
	<main class="relative">
		<article class="space-y-5 prose prose-stone dark:prose-invert max-w-3xl">
			<div>
				<h1 class="!mb-2">{spanish.data.hours} Hours: {spanish.data.title}</h1>
				<div>
					<p class="!mt-0 mb-6 text-stone-400">{`${month}, ${day} ${year}`}</p>
				</div>
			</div>
			<Content />
		</article>
	</main>
</Layout>
