---
import { z } from "astro/zod";
import type { MarkdownHeading } from "astro";

import { articleStyleSchema } from "../content/config";

import H2 from "./headings/H2.astro";
import H3 from "./headings/H3.astro";
import H4 from "./headings/H4.astro";
import H5 from "./headings/H5.astro";
import H6 from "./headings/H6.astro";

import TOC from "./TOC.astro";
import ArticleInfo from "./ArticleInfo.astro";

export interface ArticleProps {
    article: z.infer<typeof articleStyleSchema> & { slug: string };
    headings: MarkdownHeading[];
    Content: any;
}

const { article, Content, headings } = Astro.props as ArticleProps;

const components = { h2: H2, h3: H3, h4: H4, h5: H5, h6: H6 };

const createdAt = article.created_at;
const createdMonth = createdAt.toLocaleString('en-GB', { month: 'long' });
const createdDay = createdAt.getDate();
const createdYear = createdAt.getFullYear();

const updatedAt = article.updated_at;
const updatedMonth = updatedAt?.toLocaleString('en-GB', { month: 'long' });
const updatedDay = updatedAt?.getDate();
const updatedYear = updatedAt?.getFullYear();
---

<div class="max-w-3xl mx-auto prose prose-stone dark:prose-invert mb-8">
    <h1 transition:name={`article-title-${article.slug}`} class="!mb-2">{article.title}</h1>
    <p class="!mt-0 block xl:hidden text-stone-500 dark:text-stone-400">{`${createdMonth}, ${createdDay} ${createdYear}`} — {article.read_time} min</p>
</div>
<main class="max-xl:max-w-3xl max-xl:mx-auto xl:grid xl:grid-cols-[1fr_48rem_1fr]">
    <aside class="hidden xl:flex xl:flex-col xl:items-end sticky top-8 self-start mr-10 text-sm text-stone-500 dark:text-stone-400 pr-4 border-r border-r-neutral-200 dark:border-r-neutral-700">
        <ArticleInfo article={article} />
    </aside>
    <article class="space-y-5 prose prose-stone dark:prose-invert min-w-full">
        <Content components={components} />
        { updatedAt && 
            <footer class="block xl:hidden border-stone-200 dark:border-stone-800 !mt-10">
                <p class="text-stone-500 dark:text-stone-400 text-sm">
                    Last updated {updatedMonth} {updatedDay}, {updatedYear}
                </p>
            </footer>
        }
        </article>     
    </article>      
    <aside class="hidden xl:block sticky top-8 self-start ml-10">
        {headings.length > 0 &&
            <h3 class="font-medium dark:text-white pb-2">On This Page</h3>
            <div class="pl-4 border-l border-l-neutral-200 dark:border-l-neutral-700 text-stone-700 dark:text-stone-200">
                <TOC headings={headings} />
            </div>
        }
    </aside>
</div>
