---
import { DateTime, Info } from 'luxon';
import { getCollection } from 'astro:content';

import Book from './Book.astro';

type FinishedBook = typeof books[number] & {
  data: typeof books[number]['data'] & {
    date_finished: DateTime;
  };
};

type BooksByYear = {
  [year: number]: {
    [month: number]: FinishedBook[];
  };
};

const bookCollection = await getCollection('book');
const books = bookCollection.map(book => ({
    ...book,
    data: {
        ...book.data,
        date_published: DateTime.fromJSDate(book.data.date_published),
        date_started: DateTime.fromJSDate(book.data.date_started),
        date_finished: book.data.date_finished ? DateTime.fromJSDate(book.data.date_finished) : null,
    }
}));

const currentlyReading = books.filter(book => !book.data.date_finished);
const finishedBooks: FinishedBook[] = books.filter(
    (book): book is FinishedBook => !!book.data.date_finished
);

const booksByYear: BooksByYear = {};

for (const book of finishedBooks) {
    const year = book.data.date_finished.year;
    const month = book.data.date_finished.month;
    if (!booksByYear[year]) booksByYear[year] = {};
    if (!booksByYear[year][month]) booksByYear[year][month] = [];
    booksByYear[year][month].push(book);
}

const monthNames = Info.months('long');
---

<div>
    {!!currentlyReading?.length &&
        <div class="max-w-3xl mx-auto prose prose-stone dark:prose-invert min-w-0">
            <div class="border-b border-stone-300">
                <div class="mb-2 flex flex-wrap gap-x-1 items-baseline">
                    <h2 class="mb-0 font-semibold">Currently Reading</h2>
                    <p class="mb-0 truncate text-xs">({currentlyReading.length})</p>
                </div>
            </div>
            <ul class="divide-y divide-stone-200 dark:divide-stone-700 p-0 -my-2">
                {currentlyReading.map(book => <Book book={book} />)}
            </ul>
        </div>
    }
    {
        Object.keys(booksByYear)
            .sort((a, b) => Number(b) - Number(a))
            .map(year => {
                const yearNum = Number(year);
                const totalBooks = Object.values(booksByYear[yearNum])
                    .reduce((sum, monthBooks) => sum + monthBooks.length, 0);
                const months = Object.keys(booksByYear[yearNum])
                    .sort((a, b) => Number(b) - Number(a));

                return (
                    <div>
                        <div class="max-w-3xl mx-auto prose prose-stone dark:prose-invert">
                            <div class="border-b border-stone-300">
                                <div class="mb-2 flex flex-wrap gap-x-1 items-baseline mt-8">
                                    <h2 class="mb-0 font-semibold">{year}</h2>
                                    <p class="mb-0 truncate text-xs">({totalBooks})</p>
                                </div>
                            </div>
                        </div>
                        {months.map((month, monthIndex) => {
                            const monthNum = Number(month);
                            const monthBooks = booksByYear[yearNum][monthNum]
                                .sort((a, b) => b.data.date_finished.toMillis() - a.data.date_finished.toMillis());

                            return (
                                <div class="max-xl:max-w-3xl max-xl:mx-auto xl:grid xl:grid-cols-[1fr_48rem_1fr]">
                                    <aside class="hidden xl:flex xl:justify-end sticky top-4 pb-8 pt-8 self-start text-sm prose prose-stone pr-6">
                                        {(monthNames[monthNum - 1]).toUpperCase()}
                                    </aside>
                                    <ul class:list={["divide-y divide-stone-300 dark:divide-stone-700 p-0 prose prose-stone dark:prose-invert min-w-full", monthIndex > 0 && "border-t border-stone-300 dark:border-stone-700"]}>
                                        {monthBooks.map(book => <Book book={book} />)}
                                    </ul>
                                    <div class="hidden xl:block"></div>
                                </div>
                            );
                        })}
                    </div>
                );
            })
    }
</div>
