---
import { DateTime } from 'luxon';
import { getCollection } from 'astro:content';

import Book from './Book.astro';

type FinishedBook = typeof books[number] & {
  data: typeof books[number]['data'] & {
    date_finished: DateTime;
  };
};

type BooksByYear = {
  [year: number]: FinishedBook[];
};

const bookCollection = await getCollection('book');
const books = bookCollection.map(book => ({
    ...book,
    data: {
        ...book.data,
        date_published: DateTime.fromJSDate(book.data.date_published),
        date_started: DateTime.fromJSDate(book.data.date_started),
        date_finished: book.data.date_finished ? DateTime.fromJSDate(book.data.date_finished) : null,
    }
}));

const currentlyReading = books.filter(book => !book.data.date_finished);
const finishedBooks: FinishedBook[] = books.filter(
    (book): book is FinishedBook => !!book.data.date_finished
);

const booksByYear: BooksByYear = {};

for (const book of finishedBooks) {
    if (book.data?.date_finished) {
        const year = book.data.date_finished.year;
        if (!booksByYear[year]) booksByYear[year] = [];
        booksByYear[year].push(book);
    }
}
---

<div>
    {!!currentlyReading?.length && 
        <div class="col-span-full">
            <div class="border-b border-stone-200">
                <div class="mb-2 flex flex-wrap gap-x-1 items-baseline">
                    <h2 class="mb-0 font-semibold">Currently Reading</h2>
                    <p class="mb-0 truncate text-xs">({currentlyReading.length})</p>
                </div>
            </div>
            <ul class="divide-y divide-stone-200 dark:divide-stone-700 p-0 -my-2">
                {currentlyReading.map(book => <Book book={book} />)} 
            </ul>
        </div>
    }
    {
        Object.keys(booksByYear)
            .sort((a, b) => Number(b) - Number(a))
            .map(year => {
                return (
                    <div class="col-span-full">
                        <div class="border-b border-stone-200">
                            <div class="mb-2 flex flex-wrap gap-x-1 items-baseline">
                                <h2 class="mb-0 font-semibold">{year}</h2>
                                <p class="mb-0 truncate text-xs">({booksByYear[Number(year)].length})</p>
                            </div>
                        </div>
                        <ul class="divide-y divide-stone-200 dark:divide-stone-700 p-0 -my-2">
                            {booksByYear[Number(year)]
                                .sort((a, b) => b.data.date_finished.toMillis() - a.data.date_finished.toMillis())
                                .map(book => <Book book={book} />)} 
                        </ul>
                    </div>
                );
            })
    }
</div>
